@model NEDAW.ViewModels.NewsVM
<h2>@ViewBag.Name</h2>

<div class="section">
    <div class="container">
        <a class="primary-button" href="/News/New">New</a>
    </div>
</div>

<div class="section">
    <div class="container">
        @using (Html.BeginForm("Category", "News", FormMethod.Get))
        {
            @Html.DropDownList("SortByDate", new List<SelectListItem>
            {
                new SelectListItem { Text = "asc", Value = "asc" },
                new SelectListItem { Text = "desc", Value = "desc" }
            }, "Sort by date")

            @Html.DropDownList("SortByTitle", new List<SelectListItem>
            {
                new SelectListItem { Text = "asc", Value = "asc" },
                new SelectListItem { Text = "desc", Value = "desc" }
            }, "Sort by title")

            <button class="btn btn-group" type="submit">Filter</button>
        }
    </div>
</div>


@if (Model.News.Count() == 0)
{
    <div class="section">
        <p>There are no items!</p>
    </div>

}
else
{
    for (int index = 0; index < Model.News.Count(); index++)
    {
        <div class="section">
            <div class="container">
                <div class="row">
                    @{
                        var article = Model.News.ElementAt(index);
                        @Html.Partial("_News", article);
                        index++;
                        if (index < Model.News.Count())
                        {
                            article = Model.News.ElementAt(index);
                            @Html.Partial("_News", article);
                        }
                        index++;
                    }
                </div>
            </div>
        </div>
    }
}