@model NEDAW.ViewModels.NewsForm
<h2>@Model.Title</h2>


<img style="max-width:600px; max-width:600px;" src="@Model.Image" /> <br /> <br />

<div>@Model.Content</div>

<br />
<p>By <b>@Model.User.UserName</b> at @Model.ModifiedOn</p>

<br />

@if (ViewBag.showButtons == true && Model.ModifiedBy.ToString() == ViewBag.currentUser || ViewBag.isAdmin == true)
{
    <div class="col-12">
        <div class="form-row">
            <a class="btn btn-sm btn-info primary-button" href="/News/Edit/@Model.Id">Edit</a>

            @*<form method="post" action="/News/Delete/@Model.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="primary-button btn btn-sm btn-danger" type="submit">Delete</button>
            </form>*@
            @using (Html.BeginForm("Delete", "News", routeValues: new { id = Model.Id }, method: FormMethod.Post, htmlAttributes: new { @class="section" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="primary-button btn btn-sm btn-danger" type="submit">Delete</button>
            }
        </div>
    </div>
}

@Html.Partial("~/Views/Comments/_CommentsSection.cshtml", new NEDAW.ViewModels.CommentsVM { NewsId = Model.Id, Comments = Model.Comments })
