@model NEDAW.ViewModels.NewsCategoryForm

<h2>@Model.ViewMode.ToString()</h2>

@using (Html.BeginForm("Save", "Categories"))
{
    <div class="section form-group edit">
        @Html.LabelFor(c => c.Name)
        <br />
        @Html.TextBoxFor(c => c.Name, new { @class = "input" })
        <br />
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
    <button class="primary-button" type="submit">Save</button>
}
