@model NEDAW.ViewModels.NewsCategoryForm

<h2>Edit</h2>

@using (Html.BeginForm("Save", "Categories"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        <br />
        @Html.TextBoxFor(c => c.Name, new { })
        <br />
        @Html.ValidationMessageFor(c => c.Name)
    </div>
    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
    <button type="submit">Save</button>
}
