@model NEDAW.Models.ApplicationUser
<br /><br /><br />
<h2>Editeaza utilizatorul @Model.UserName</h2>

<form method="post" action="/Admin/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <br />

    <i class="glyphicon glyphicon-user"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "" })
    <br />

    @Html.EditorFor(m => m.UserName)
    <br /><br />

    <i class="glyphicon glyphicon-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" })
    <br />

    @Html.EditorFor(m => m.Email)
    <br /><br />

    <i class="glyphicon glyphicon-th-list"></i>
    <label>Selectati rolul</label>
    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", 
        (string)ViewBag.userRole), null , new { @class = "form-control" })
    <br />

    <button class="btn btn-sm btn-success" type="submit">
        Modifica datele
        utilizatorului
    </button>
</form>
